@()(implicit flash: Flash, request: play.api.mvc.Request[Any])
@import layouts._
@main("ЗНО 2014") {
    @flash.get("success").map { message =>
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @message
        </div>
    }
    @flash.get("error").map { message =>
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @message
        </div>
    }
    <div class="center hero-unit">
        <h1>Вітаємо на сайті для підготовки до ЗНО</h1>
        <a href="@routes.Static.home"></a>
        <h2>This is the home page for the Yarik Krukovsky MAN project</h2>

        <a href="#more" role="button" class="btn btn-large btn-primary" data-toggle="modal">Дізнатися більше</a><br><br>
        <a href="@routes.Lessons.allLessons"class="btn btn-large btn-info" data-toggle="modal">Предмети</a>
    </div>

    <!-- Button to trigger modal -->


    <!-- Modal -->
    <div id="more" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Сайт для підготовки до ЗНО</h3>
        </div>
        <div class="modal-body">
            <p>Ви навчаєтеся у 11 класі і хочете підготуватися до іспитів якомога краще?
                Ви завітали за адресою. Використовуючи цей сайт можна вдосконалити свої знання,
                підготуватся до ЗНО і просто позмагатися з іншими.
            </p>
            <p>
                Користування сайтом повністю безкоштовне; єдине, що дозволяє використовувати всі можливості сайту - це реєстрація.
                Без реєстрації ви можете тільки переглядати матеріали до предметів, а з реєстрацією - розв'язувати білети, дивитися свою
                статистику, брати участь у щоденних змаганнях і ще багато цікавого.
            </p>
            <p>
                Якщо ви хочете дізнатися, яким чином побудований сайт, як саме буде проходити
                підготовка, і що було зроблено для підтримання змагального духу - перейдіть по
                цьому посиланню: <a href="/about">О проекті</a>
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Закрити</button>
        </div>
    </div>
}
