@()(implicit request: play.api.mvc.Request[Any])
@import layouts._
@mainfoot("Правила") {
    <div class="center hero-unit" xmlns="http://www.w3.org/1999/html">
        <h1>Правила</h1>

        <p>
            Сайт створений для підготовки до ЗНО. Інтерфейс адаптований для щоякнайкращої активності при роботі. Тепер вам не потрібно шукати довідники - все що треба є на сайті. Сам процесс підготовки розбитий на дві частини:
            <a href="#sampod"><i>самостійна подготовка</i></a> i <a href="#zmag"><i>змагання</i></a>. В залежности від активності при підготовці ви отримаєте певний <a href="#rank">ранг</a>.
        </p>
    </div>
    <div class="span9 offset1 well ">
        <h2>Підготовка</h2>
        <div id="sampod">
            <h3>Самостійна підготовка</h3>
            <p>До самостійної підготовки можна включити <u>розв'язання білетів з предметів</u>
                , обраних в вашому профілі і <u>праця з матеріалами</u>.
                Якщо розв'язання білетів повністю автоматизовано, то праця з матеріалами проходить так, як Ви того хочете.
                При розв'язанні білетів:</p>
            <ul>
                <li>якщо Ви почали розв'язання - Ви <strong>повинні закінчити його </strong>
                    (не можна розв'язувати тільки декілька питань за один раз)</li>
                <li>уся статистика розв'язання зберігається</li>
                <li>для кожного білету є <strong>прохідний бал</strong>
                    . Якщо Ви набрали менше за мінімально можливу кількість 70% - Ви побачите всі свої помилки; але для того, щоб рухатися далі вам буде потрібно пройти цей білет заново</li>
                <li>Ви бачите усі правильні відповіді після розв'язання білету (незалежно від кількості набраних балів). Якщо вам потрібні лише правильні відповіді - їх Ви можете знайти у матеріалах</li>
                <li>Ви можете редагувати статистику: видаляти дані про проходження тестів</li>
            </ul>

        </div>
        <div id="zmag">
            <h3>Змагання</h3>
            <p>
                Це особлива форма підготовки. Кожен день на головній сторінці будуть розміщені рейтинги серед людей, що прийняли участь у змаганні.
                Суть: кожен день ви можете один раз взяти участь у змаганнях. Яким чином вони проходять? Система випадково обирає для кожного учасника
                <span class="formula">x</span> питань з предметів, що вказані у людини у профілі. На їх розв'язання людині дається <span class="formula">y</span> хвилин. Результат вираховувається за формулою
                <span class="formula">n * z</span>, де <span class="formula">n</span> - кількість правильних відповідей, а <span class="formula">z</span> - час (в міллісекундах). На головній сторінці будуть рейтинги лище 20 людей, що показали
                найкращі результати. Але всі інші результати також будуть доступні до перегляду.
            </p>
        </div>
    </div>
    <div class="span9 offset1 well" id="rank">
        <h2>Ранги</h2>
        В залежності від активності людини на сайті (а саме від активності в секції <i>самостійної підготовки</i> - скільки білетів вже розв'язано) вона отримує певний ранг:
        <br><br><table align=center class="ranktab">
            <tbody>
                @for(elem <- User.allRanks) {
                    <tr><td class="@("r"+(User.allRanks.indexOf(elem) + 1))">@elem.text</td></tr>
                }
            </tbody>
        </table>
    </div>
}

