body {
    font-family: Tahoma;
}

#left {
    width: 200px;
    float: left;
    border: 1px double black;
    border-style: dashed;
}

#right {
    width: 200;
    float: right;
}

#content {
    margin: 0 200px 0 200px;
}

#line {
    border-top: 2px dashed #4d5659;
    margin-top: 10px;
    padding-bottom: 10px;
}

img {
    max-height: 600px;
    max-width: 700px;
}

#question:hover {
    background: #E0E8F0;
}