@(myForm: Form[(String, String, String, String)])(implicit flash: Flash, request: play.api.mvc.Request[Any])
@import helper.twitterBootstrap._
@import views.html.layouts.main
@main("Редагувати профіль"){
	@helper.form(routes.Application.changeUser) {
			<div class="well">        
            <h1>Змінити особисту інформацію</h1>            
            @myForm.globalError.map { error =>
                <p class="alert alert-error">
                	<button type="button" class="close" data-dismiss="alert">&times;</button>
                    @error.message
                </p>
            }
            
            @flash.get("error").map { message =>
                <p class="alert alert-error">
                	<button type="button" class="close" data-dismiss="alert">&times;</button>
                    @message
                </p>
            }    
            <div>        
    		    <ul class="nav nav-tabs">
    		        <li class="active"><a href="#tab1" data-toggle="tab">Основні дані</a></li>
                    <li><a href="#tab2" data-toggle="tab">Зміна паролю</a></li>
    		    </ul>
	    		<div class="tab-content">
	    		    <div class="tab-pane active" id="tab1">
           				@helper.inputText(myForm("email"), '_label -> "Поштова скринька", '_showConstraints -> false)
            			@helper.inputText(myForm("name"), '_label -> "Ім'я", '_showConstraints -> false)</div>
	    		    <div class="tab-pane" id="tab2">
		    		    @helper.inputPassword(myForm("password"), '_label -> "Пароль", '_showConstraints -> false)
	            		@helper.inputPassword(myForm("confirm"), '_label -> "Підтвердження пароля", '_showConstraints -> false)</div>
	    			</div>
    			</div>
            
            
            <button type="submit" class="btn btn-primary" id="loginbutton">Готово</button>
            </ul>
            </div>
        }
}
