@()(implicit request: play.api.mvc.Request[Any])
<header class="navbar navbar-fixed-top navbar-static-top">
  <div class="navbar-inner">
    <div class="container">    			
  	  <a href="@routes.Static.home" id="logo">ЗНО 2014</a>
        <nav>
    	  <ul class="nav pull-right">
            <li><a href="@routes.Static.about">Про ЗНО</a></li>
            @if(request.session.get("email").isEmpty) {
    			<li><a href="@routes.Application.login">Увійти</a></li>
    			<li><a href="@routes.Application.register">Реєстрація</a></li>
    		} else {
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Акаунт <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="@routes.Application.profile({request.session.get("id").getOrElse("1").toInt})">Мій профіль</a></li>
                <li><a href="@routes.Application.edit">Змінити профіль</a></li>
                <li class="divider"> </li>
                <li><a href="@routes.Application.logout">Вийти</a></li>
              </ul>
            </li>
    		}    			
   		  </ul>
    	</nav>
    </div>
  </div>
</header>